.Puj{
	color: black;
	
	font-style: courier;
	font-size: 300%;
	float: right;
	margin : 20px;
}
.Home{
	padding-top: 500px;
	color: black;
	font-style: courier;
	font-size: 300%;
	margin-top: 20px;
}
body{
	background-image: url("i1.jpg");
}
a:link{
	color: darkblue;
}
a:hover{
	color: hotpink;
}
a:active{
	color: blue;
}
.About{
	font-size: 200%; 
}
.Content{
	font-size: 200%;
}
p{
	font-size: 200%;
}
.photo{
	float: right;
	padding-right: 20px;
	margin : 20px;
}
